body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  height: 500px;
  margin: 100px auto 0;
  background: black;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    height: 20%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  .start-form {
    display: flex;
    align-items: center;
    input {
      font-size: 30px;
      background: black;
      color: #fff;
      width: 100%;
      border: 2px solid #fff;
      border-radius: 10px;
      cursor: pointer;
      transition: .3s;
      &:hover {
        background: #fff;
        color: black;
      }
    }
  }
  .monster {
    height: 50%;
    text-align: center;
    img {
      margin-top: 20px;
      width: 40%;
    }
  }
  .information {
    height: 30%;
    display: flex;
    .history, .option {
      border: 2px solid #fff;
      border-radius: 10px;
    }
    .history {
      width: 70%;
      padding: 20px;
      box-sizing: border-box;
      .hidden {
        overflow: hidden;
      }
    }
    .option {
      width: 25%;
      box-sizing: border-box;
      padding: 20px;
      ul {
        list-style: none;
        li {
          margin-bottom: 10px;
          input {
            cursor: pointer;
            color: #fff;
            background: black;
            border: none;
          }
        }
      }
    }
  }
}
